html{
    overflow-x: hidden;
}
body {
    margin-top: 50px;
    /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    overflow-x: hidden;
}

section {
    padding-top: 50px;
}

/* Overridden styles of bootstrap*/
.img-responsive {
    width: 100%;
    height: 432px;
}

.alert {
    height: 50px;
}

.alert-warning {
    background-color: #7E90C2;
}

.alert-info {
    background-color: #DF6375;
}

.alert-danger {
    background-color: #F2D256;
}